<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
.addLink {
  text-align: right;
}
</style>
</head>
<body>
<div class="addLink">
  <a href="{% url 'SquirrelApp:add_page' %}">Add New Sightings!</a>
</div>
<div class="addLink">
  <a href="{% url 'SquirrelApp:stats' %}">View Sighting Statistics!</a>
</div>
<div class="addLink">
  <a href="{% url 'SquirrelApp:index' %}">Go Back to Index Page!</a>
</div>


<h1 style="color:#e6739f">Sightings</h1>

<div class="table, th, td">
<table>
  <tr>
    <th> Sighting ID </th>
    <th> Unique Squirrel ID </th>
    <th> Date </th>
    <th> View Sighting Details </th>
    <th> Update Sighting </th>
  </tr>
  {% for sighting in sightings %}
    
  <tr>
    <td>{{sighting.id}}</td>
    <td>{{sighting.UniqueSquirrelID}}</td>
    <td>{{sighting.Date}}</td>
    <td><a href="{% url 'SquirrelApp:detail' sighting.id %}">Detail</a></td>
    <td><a href="{% url 'SquirrelApp:update_page' sighting.UniqueSquirrelID %}">Update</a></td>
  </tr>
  {% endfor %}
</table>
</div>

</body>
</html>
