
<!doctype html>
<html>
   <body>
      <h3 style="color:#e6739f">Some Stats About Our Squirrels!</h3>
      <ul>
		<li>The number of adult squirrels is {{AdultCounts}}.</li>
		<li>Total of {{NumRunning}} squirrels were running.</li>
		<li>Total of {{NumEating}} squirrels were eating.</li>
		<li>Total of {{NumChasing}} squirrels were chasing.</li>
		<li>Total of {{NumForaging}} squirrels were foraing.</li>
      </ul>

      <p><a href="{% url 'SquirrelApp:sightings' %}">Go back to list of sightings</a></p>
  </body>
</html> 
	
