<html>
 <body>
   <div>
        <strong>Update form for {{ squirrel.UniqueSquirrelID }}</strong>
   </div>>
   <div>
     <form id="submit" method="post" action="{% url 'SquirrelApp:update' %}">
        {% csrf_token %}
	<label for="latitude">Latitude</label><br>
        <input type="text" id="latitude" name="latitude"><br>
        <label for="longitude">Longitude:</label><br>
        <input type="text" id="longitude" name="longtude"><br>

        <label for="shift">Shift:</label><br>
        <input type="radio" id="AM" name="shift" value="AM">
        <label for="AM">AM</label><br>
        <input type="radio" id="PM" name="shift" value="PM">
        <label for="PM">PM</label><br>

        <label for="date">Date:</label><br>
        <input type="date" id="date" name="date"><br>
        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age"><br>
        <input type="hidden" name="squirrel_id" value="{{squirrel.UniqueSquirrelID}}" >

        <input type="submit" value="Update">
  </div>>
 </body>

</html>
